﻿body {
    background-image:url('../Assets/BinaryGreenHole.jpeg');
        background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;

}

h1{
    align-content:center;
    vertical-align:middle;
    color:black;
}