﻿body {
    background-image: url('../Assets/BinaryGreenHole.jpeg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    color: black;
    resize: both;
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    vertical-align:middle;
    align-content:center;
    text-align:center;
    color: black;
}

h3 {
    text-align:justify;
    color: black;
}

h4{
    vertical-align:middle;
    color:black;
}