﻿body {
    background-image: url('../Assets/Prairie.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    color: black;
    resize: both;

}
